.wtracker-settings {
    .wtracker-container {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .setting-row {
        display: flex;
        flex-direction: column;
        gap: 6px;

        &:last-child {
            margin-top: 10px;
        }

        button {
            align-self: flex-start;
        }
    }
}

.mes_wtracker_button.spinning,
.wtracker-regenerate-button.spinning {
  animation: spin 2s linear infinite;
}

.mes_wtracker {
	position: relative;

	.wtracker-controls {
		position: absolute;
		top: 8px;
		right: 8px;
		display: flex;
		gap: 12px;
		z-index: 1;

		.wtracker-regenerate-button,
		.wtracker-edit-button,
		.wtracker-trckr-button,
		.wtracker-delete-button {
			cursor: pointer;
			color: var(--text_color);
			opacity: 0.3;
			transition: opacity 0.2s ease-in-out;

			&:hover {
				opacity: 1;
			}
		}
	}

	.wtracker_default_mes_template {
		font-size: smaller;
		tr {
			td {
				vertical-align: top;
				&:first-child {
					text-align: right;
					font-weight: bold;
					width: 60px;
				}
			}
		}
		details {
			summary {
				font-weight: bold;
				span {
					left: -3.25px;
					position: relative;
					display: inline-block;
				}
			}
			table,
			.mes_wtracker_characters {
				padding-left: 20px;
			}
		}
	}
}
